<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./public/Css/Style.css">
  <title>تعرفه ها</title>
</head>

<body>
  <div class="centerItem">
    <div class="container page-wrapper">
      <div class="page-inner">
        <div class="row">
          <div class="el-wrapper">
            <div class="box-up">
              <img class="img" width="170" src="https://tikpanel.com/wp-content/uploads/2021/02/medal-sl.svg" alt="">
              <div class="img-info">
                <div class="info-inner">
                  <span class="p-name">پنل نقره ای</span>
                  <span class="p-company">Bronze panel</span>
                </div>
                <div class="a-size">مشخصات : <span class="size">دسترسی محدود به قابلیت های ربات</span></div>
              </div>
            </div>

            <div class="box-down">
              <div class="h-bg">
                <div class="h-bg-inner"></div>
              </div>

              <a class="cart" href="/buy/<%= id %>/Bronze">
                <span class="price">50،000 ريال</span>
                <span class="add-to-cart">
                  <span class="txt">خرید کردن</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container page-wrapper">
      <div class="page-inner">
        <div class="row">
          <div class="el-wrapper">
            <div class="box-up">
              <img class="img" width="170" src="https://tikpanel.com/wp-content/uploads//2021/02/medal.svg" alt="">
              <div class="img-info">
                <div class="info-inner">
                  <span class="p-name">پنل طلایی</span>
                  <span class="p-company">Golden panel</span>
                </div>
                <div class="a-size">مشخصات : <span class="size">دسترسی کامل به قابلیت های ربات</span></div>
              </div>
            </div>

            <div class="box-down">
              <div class="h-bg">
                <div class="h-bg-inner"></div>
              </div>

              <a class="cart" href="/buy/<%= id %>/Gold">
                <span class="price">100،000 ريال</span>
                <span class="add-to-cart">
                  <span class="txt">خرید کردن</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>